@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    /* text-transform: capitalize; */
    transition: all .2s ease-out;
    text-decoration: none;
}

html[data-theme='light'] {
    --red: #e44738;
    --white: white;
    --pink: pink;
    --purple: purple;
    --light-color: #041c32;
    --dark-color: #ff0000;
    --box-shadow: .5rem .5rem 0 rgba(253, 90, 128, 0.292);
    --text-shadow: .4rem .4rem 0 rgba(184, 43, 72, 0.3);
    --border: .2rem solid var(--red);
}

html[data-theme='dark'] {
    --red: #46b671;
    --white: #041C32;
    --pink: rgb(40, 205, 128);
    --purple: rgb(206, 138, 206);
    --light-color: rgb(128, 128, 128);
    --dark-color: rgb(107, 255, 184);
    --box-shadow: .5rem .5rem 0 rgba(98, 206, 116, 0.292);
    --text-shadow: .4rem .4rem 0 rgba(43, 144, 75, 0.3);
    --border: .2rem solid var(--red);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body {
	background-color: var(--white);
	margin: 0;
	transition: background 0.2s linear;
}

section {
    padding: 2rem 9%;
}

.kepala {
    background-color: var(--white);
    position: fixed;
    display: flex;
    left: -300px;
    flex-direction: column;
    width: auto;
    height: 100%;
    z-index: 2;
}

/* ----------------------   LOGIN PLACE    ------------------------*/
.popup .login center{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.popup td{
    padding-top: 5px;
    color: var(--light-color);
}

.popup .login table input{
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid var(--dark-color);
}
.popup .login table tr{
    height: 50px;
}
.popup .login table{
    background-color: var(--white);
    padding: 50px;
    border: 1px solid var(--dark-color);
    border-radius: 10px;
}

.popup .login {
    font-size: medium;
    display: flex;
    margin: auto;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.popup {
    overflow: auto;
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}



.inLoginButton{
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    color: black;
    padding: 5px;
    font-size: medium;
    border-radius: 10px;
    background-color: white;
    box-shadow: var(--box-shadow);
    border: 2px solid var(--dark-color);
}

.inLoginButton:hover{
    background-color: rgb(176, 176, 176);
    color: #041C32;
}

#regist_btn{
    font-size: medium;
    padding-top: 10px;
}

#regist_btn a{
    font-weight: bold;
    color: var(--purple);
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    
    .popup td{
        padding-top: 5px;
        color: var(--light-color);
    }
    
    .popup .login table input{
        width: 100%;
        font-size: small;
        border: 1px solid var(--dark-color);
    }
    
    .popup .login table{
        width: 80%;
        font-size: small;
        background-color: var(--white);
        padding: 30px;
        border: 1px solid var(--dark-color);
        border-radius: 5%;
    }
    
    .inLoginButton :link, .inLoginButton :visited{
        color: black;
        padding: 3px;
        font-size: smaller;
        border-radius: 10%;
        background-color: white;
        box-shadow: var(--box-shadow);
        border: 1px solid var(--dark-color);
    }
    
    .inLoginButton :hover{
        background-color: rgb(176, 176, 176);
        color: #041C32;
    }

    #regist_btn{
        font-size: smaller;
        padding-top: 10px;
    }
  }
/* ----------------------   REGISTER PLACE    ------------------------*/
.popup2 .register center{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.popup2 td{
    padding-top: 5px;
    color: var(--light-color);
}

.popup2 .register table input{
    font-size: x-large;
    border: 1px solid var(--dark-color);
    margin-left: 10%;
}

.popup2 .register table{
    width: 80%;
    font-size: x-large;
    background-color: var(--white);
    padding: 50px;
    padding-right: 100px;
    border: 1px solid var(--dark-color);
    border-radius: 5%;
}

.popup2 .register {
    display: flex;
    margin: auto;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.popup2 {
    overflow: auto;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#registerButtons{
    padding-top: 10px;
    padding-left: 70px;
}


@media screen and (max-width: 600px) {
    
    .popup2 td{
        padding-top: 5px;
        color: var(--light-color);
    }
    
    .popup2 .register table input{
        font-size: small;
        border: 1px solid var(--dark-color);
        margin-left: 10%;
    }
    
    .popup2 .register table{
        width: 80%;
        font-size: small;
        background-color: var(--white);
        padding: 30px;
        padding-right: 60px;
        border: 1px solid var(--dark-color);
        border-radius: 5%;
    }

    #registerButtons{
        padding-top: 10px;
        padding-left: 40px;
    }
  }
/* ----------------------  ///    ------------------------*/

.tempat{
    display: flex;
    z-index: 2000;
}

.kepala.active {
    background-color: var(--white);
    position: fixed;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    /* box-shadow: 1rem 0 3rem rgba(0, 0, 0, .08); */
    box-shadow: 0.5px 0 0.5rem var(--dark-color);
}

.kepala .logo {
    padding: 25px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 3rem;
    color: var(--white);
    z-index: 2000;
    align-items: center;
    text-shadow: var(--text-shadow);
    background-color: var(--red);
}

.kepala .logo i {
    width: 50px;
}

.kepala .navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 2rem;
    color: var(--light-color);
    background-color: var(--white);
}

.kepala .navbar div {
    padding: 30px;
    display: flex;
}

.kepala .navbar i {
    width: 50px;
}

.kepala a {
    color: var(--red);
    font-weight: bold;
}

.kepala a:hover {
    opacity: 0.4;
}

.kepala .user {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding: 30px;
    display: flex;
}

.kepala .user a {
    cursor: pointer;
}

.kepala .user i {
    width: 50px;
}

.kepala .muka {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.badan{
    margin:75px 0;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
}

.home .image {
    flex: 1 1 45rem;
    /* padding: 4rem 4rem 0rem 4rem; */
}

.home .image object {
    width: 100%;
}

.home .content {
    flex: 1 1 45rem;
    /* padding: 0rem 3rem 4rem 3rem; */
}

.home .content h3 {
    font-size: 4.5rem;
    color: var(--red);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}

.home .content p {
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
}

.heading{
    margin-top: 25px;
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color:var(--dark-color);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span{
    text-transform: uppercase;
    color:var(--red);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color: var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    background: var(--white);
}

.btn span {
    padding: .7rem 1rem;
    border-radius: .5rem;
    background: var(--red);
    color: var(--white);
    margin-left: .5rem;
}

.btn:hover {
    background: var(--red);
    color: var(--white);
}

.btn:hover span {
    color: var(--red);
    background: var(--white);
    margin-left: 1rem;
}

#menu-btn {
    box-shadow: var(--text-shadow);
    text-align: center;
    width: 5rem;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--red);
    background-color: var(--white);
    color: var(--red);
    cursor: pointer;
    position: fixed;
    font-size: 3rem;
    top: 35px;
    left: 50px;
    z-index: 100;
}

#searchObat{
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}

#searchObat input{
    border: 2px solid var(--red);
    border-radius: 5px;
    font-size: large;
    background-color: var(--white);
    color: var(--red);
    box-shadow: var(--box-shadow);
    padding: 10px;
}

#searchObat input::placeholder{
    color: var(--red);
}

#searchObat button{
    border: 2px solid var(--red);
    background-color: var(--white);
    color: var(--red);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    padding: 10px 15px;
}

#searchObat button:hover {
    background-color: var(--red);
    color: var(--white);
} 

.obat .box-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:1.5rem;
}

.obat .box-container .box{
    max-width: 300px;
    flex:1 1 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    border:.05rem solid var(--pink);
    position: relative;    
}

.obat .box-container .box .stok{
    position: absolute;
    top:1rem; left:1rem;
    padding:.7rem 1rem;
    font-size: 2rem;
    color:var(--white);
    background:var(--red);
    box-shadow: var(--box-shadow);
    z-index: 1;
    border-radius: 1rem;
}

.obat .box-container .box .image{
    position: relative;
    text-align: center;
    padding: 2rem 2rem 0 2rem;
    overflow:hidden;
    height: 25rem;
}

.obat .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.obat .box-container .box:hover .image img{
    transform: scale(1.1);
}

.obat .box-container .box .image .icons{
    position: absolute;
    bottom:-7rem; left:0; right:0;
    display: flex;
}

.obat .box-container .box:hover .image .icons{
    bottom:0;
}

.obat .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:50%;
    background:var(--pink);
    color: var(--white);
}

.obat .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid var(--red);
    border-right: .1rem solid var(--box-shadow);
    width:100%;
}

.obat .box-container .box .image .icons a:hover{
    background:var(--dark-color);
}

.obat .box-container .box .content{
    padding:2rem;
    text-align: center;
}

.obat .box-container .box .content h3{
    font-size: 2.5rem;
    color:var(--dark-color);
}

.obat .box-container .box .content .price{
    font-size: 2.5rem;
    color:var(--pink);
    font-weight: bolder;
    padding-top: 1rem;
}

.obat .box-container .box .content .price span{
    font-size: 1.5rem;
    color:var(--pink);
    font-weight: lighter;
    text-decoration: line-through;
}

.apoteker .box-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:1.5rem;
}

.apoteker .box-container .box{
    max-width: 340px;
    text-align: center;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
}

.apoteker .box-container .box .content{
    padding:2rem;
    text-align: center;
}

.apoteker .box-container .box .content h3{
    font-size: 2.5rem;
    color:var(--dark-color);
}

.apoteker .box-container .box .content .price{
    font-size: 2.5rem;
    color:var(--pink);
    font-weight: bolder;
    padding-top: 1rem;
}

.apoteker .box-container .box .content .price span{
    font-size: 1.5rem;
    color:var(--pink);
    font-weight: lighter;
    text-decoration: line-through;
}

.apoteker .box-container .box .image{
    position: relative;
    text-align: center;
    padding: 2rem 2rem 0 2rem;
    overflow:hidden;
    height: 25rem;
}

.apoteker .box-container .box .image .icons{
    position: absolute;
    bottom:-7rem; left:0; right:0;
    display: flex;
}

.apoteker .box-container .box:hover .image .icons{
    bottom:0;
}

.apoteker .box-container .box .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:50%;
    background:var(--pink);
    color: var(--white);
}

.apoteker .box-container .box .icons a:hover{
    background:var(--dark-color);
}

.apoteker .box-container .box img{
    height: 17rem;
    border:var(--border);
    border-radius: .5rem;   
    margin-bottom: 1rem;
}

.apoteker .box-container .box h1{
    color:var(--red);
    font-size: 2.5rem;
}

.apoteker .box-container .box h3{
    color:var(--red);
    font-size: 2.5rem;
}

.apoteker .box-container .box span{
    color:var(--red);
    font-size: 1.5rem;
}

.apoteker .box-container .box .share{
    padding-top: 2rem;
}

.apoteker .box-container .box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color:var(--red);
    border-radius: .5rem;
    border:var(--border);
    margin:.3rem;
}

.apoteker .box-container .box .share a:hover{
    background:var(--pink);
    color:var(--red);
    box-shadow: var(--box-shadow);
}



.apoteker .box-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:1.5rem;
}

.apoteker .box-container .box{
    max-width: 300px;
    flex:1 1 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    border:.05rem solid var(--pink);
    position: relative;    
}

.apoteker .box-container .box .stok{
    position: absolute;
    top:1rem; left:1rem;
    padding:.7rem 1rem;
    font-size: 2rem;
    color:var(--white);
    background:var(--red);
    box-shadow: var(--box-shadow);
    z-index: 1;
    border-radius: 1rem;
}

.apoteker .box-container .box .image{
    position: relative;
    text-align: center;
    padding: 2rem 2rem 0 2rem;
    overflow:hidden;
    height: 25rem;
}

.apoteker .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.apoteker .box-container .box:hover .image img{
    transform: scale(1.1);
}

.apoteker .box-container .box .image .icons{
    position: absolute;
    bottom:-7rem; left:0; right:0;
    display: flex;
}

.apoteker .box-container .box:hover .image .icons{
    bottom:0;
}

.apoteker .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:50%;
    background:var(--pink);
    color: var(--white);
}

.apoteker .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid var(--red);
    border-right: .1rem solid var(--box-shadow);
    width:100%;
}

.apoteker .box-container .box .image .icons a:hover{
    background:var(--dark-color);
}

.apoteker .box-container .box .content{
    padding:2rem;
    text-align: center;
}

.apoteker .box-container .box .content h3{
    font-size: 2.5rem;
    color:var(--dark-color);
}

.apoteker .box-container .box .content .price{
    font-size: 2.5rem;
    color:var(--pink);
    font-weight: bolder;
    padding-top: 1rem;
}

.apoteker .box-container .box .content .price span{
    font-size: 1.5rem;
    color:var(--pink);
    font-weight: lighter;
    text-decoration: line-through;
}








.about{
    margin-bottom: 75px;
}

.about .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.about .row .image img{
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color: var(--red);
    text-shadow: var(--text-shadow);
    font-size: 4rem;
    line-height: 1.8;
}

.about .row .content p{
    color: var(--light-color);
    padding:1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
    text-align: justify;
    text-indent: 3em;
}

.kosong{
    display: flex;
    color: var(--red);
    height: 60vh;
    text-align: center;
    flex-direction: column;
    font-size: 30px;
    justify-content: center;
    margin-bottom: 20vh;
}

.dark_mode {
    position: fixed;
    right: 50px;
    top: 35px;
}

.checkbox {
    display: none;
    align-items: center;
}

.label {
    box-shadow: var(--text-shadow);
    background-color: var(--red);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 31px;
    width: 60px;
}

.label .ball {
    background-color: var(--white);
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 3px;
    height: 24px;
    width: 24px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(28px);
}


.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--red);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--red);
}

.footer .box-container .box a:hover i{
    padding-right:2rem;
}

.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color:var(--red);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span{
    color:var(--red);
}

@media only screen and (max-width: 420px) {
    .kepala.active .dark_mode {
        display: none;
    }
}