@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

:root{
    --red: rgb(228, 71, 56);
    --black: white;
    --light-color: grey;
    --box-shadow:.5rem .5rem 0 rgba(253, 90, 128, 0.292);
    --text-shadow:.4rem .4rem 0 rgba(184, 43, 72, 0.3);
    --border:.2rem solid var(--red);
}

html{
    font-size: 62.5%;

    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

section:nth-child(even){
    background: #f5f5f5;
}

.kepala{
    background-color: var(--black);
    position: fixed;
    display: flex;
    left: -300px;
    flex-direction: column;
    width: auto;
    height: 100%;
    /* padding:2rem 9%;
    position: fixed; */
     /* height: 100%;
    top:0; left: 0; right: 0;
    z-index: 5; */
    z-index: 1000;
    box-shadow: 1rem 0 3rem rgba(0, 0, 0, .08);
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #fff;  */
}


.kepala.active{
    background-color: var(--black);
    position: fixed;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    /* padding:2rem 9%;
    position: fixed; */
     /* height: 100%;
    top:0; left: 0; right: 0;
    z-index: 5; */
    z-index: 1000;
    box-shadow: 1rem 0 3rem rgba(0, 0, 0, .08);
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #fff;  */
}

.kepala .logo{
    padding: 25px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 3rem;
    color: var(--black);
    z-index: 2000;
    align-items: center;
    background-color: var(--red);
}
.kepala .logo i{
    width: 50px;
}

.kepala .navbar{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 2rem;
    color: var(--light-color);
    /* margin-left: 50px; */
}

.kepala .navbar div{
    padding: 30px;
    display: flex;
    /* margin-left: 50px; */
}

.kepala .navbar i{
    width: 50px;
}

.kepala a{
    color: var(--red);
    font-weight: bold;
}

.kepala a:hover{
    opacity: 0.4;
}

.kepala .user{
    font-size: 2rem;
    padding: 30px;
    display: flex;
}

.kepala .user i{
    width: 50px;
}

.kepala .muka{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 10rem;
}

.home .image{
    flex:1 1 45rem;
}

.home .image img{
    width: 100%;
}

.home .content{
    flex:1 1 45rem;
}

.home .content h3{
    font-size: 4.5rem;
    color:var(--red);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}

.home .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    /* padding: 1rem 0; */
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border:var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color:var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
}

.btn span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: var(--red);
    color:#fff;
    margin-left: .5rem;
}

.btn:hover{
    background: var(--red);
    color:#fff;
}

.btn:hover span{
    color: var(--red);
    background:#fff;
    margin-left: 1rem;
}

#menu-btn{
    color: var(--red);
    cursor: pointer;
    position: fixed;
    font-size: 3rem;
    top: 35px;
    left: 50px;
}